<!DOCTYPE html>
<html class="h-100">
  <head th:replace="~{fragments.html :: head (title='Strona główna')}"></head>

  <body class="h-100">
    <div class="h-100 d-flex flex-row align-items-stretch">
      <div th:replace="~{fragments.html :: sidebar (user=${user})}"></div>
      <div id="calendar-pane" class="p-3 w-100"></div>
    </div>
  </body>

  <script>
    function loadMonth(date) {
      fetch(`/ajax/calendar?date=${date}`)
        .then((response) => response.text())
        .then((html) => {
          document.getElementById("calendar-pane").innerHTML = html;
        });
    }

    const reset = () => {
      const date = new Date();
      loadMonth(date.toISOString().substring(0, 10));
    };

    reset();

    const loadWeek = (date) => {
      fetch(`/ajax/calendar?date=${date}&viewType=WEEK`)
        .then((response) => {
          if (!response.ok) {
            reset();
          }

          return response.text();
        })
        .then((html) => {
          document.getElementById("calendar-pane").innerHTML = html;
        })
        .catch(() => reset());
    };

    const loadDay = (date) => {
      fetch(`/ajax/calendar?date=${date}&viewType=DAY`)
        .then((response) => {
          if (!response.ok) {
            reset();
          }

          return response.text();
        })
        .then((html) => {
          document.getElementById("calendar-pane").innerHTML = html;
        })
        .catch(() => reset());
    };
  </script>
</html>
