<!DOCTYPE html>
<html class="h-100">
  <head th:replace="~{fragments.html :: head (title='Strona główna')}"></head>

  <body class="h-100">
    <div class="h-100 d-flex flex-row">
      <div id="sidebar" class="w-25">sidebar</div>
      <div id="calendar-pane" class="h-100 p-5 w-100"></div>
    </div>
    <div
      th:replace="~{fragments.html :: userMenu (userName=${user.login})}"
    ></div>
  </body>

  <script>
    function loadMonth(date) {
      fetch(`/ajax/calendar?date=${date}`)
        .then((response) => response.text())
        .then((html) => {
          document.getElementById("calendar-pane").innerHTML = html;
        });
    }

    const date = new Date();
    loadMonth(date.toISOString().substring(0, 10));

    const loadWeek = (date) => {
      fetch(`/ajax/calendar?date=${date}&viewType=WEEK`)
        .then((response) => response.text())
        .then((html) => {
          document.getElementById("calendar-pane").innerHTML = html;
        });
    };
  </script>
</html>
